/*
    Customizes the color of links and hover effects in the body element.
    For more options on color customization, refer to:
    https://getbootstrap.com/docs/5.3/customize/color/
*/
body {
    --bs-link-color-rgb: 235, 69, 158 !important;
    --bs-link-hover-color-rgb: 211, 62, 142 !important;
}

/*
    Ensures the '.DocSearch-Container' appears above the 'body>header' elements
    in viewports with a width of 768px or more, and 'body[data-layout=landing]>header' elements.
    The z-index of these header elements is 1030, so the '.DocSearch-Container' is given a higher z-index of 1040.
    The '!important' rule is used to override any other conflicting z-index declarations.
*/
.DocSearch-Container {
    z-index: 1040 !important;
}

/*
    Removes padding from 'mark' elements within the '.DocSearch-Container'.
    This overrides the previous padding of 0.1875em set for 'mark' and '.mark' elements.
*/
.DocSearch-Container mark {
    padding: 0;
}

/*
    Sets the vertical alignment of 'svg' elements within '.DocSearch-Hit-icon' to 'baseline'.
    This overrides the previous 'middle' alignment set for 'img' and 'svg' elements.
*/
.DocSearch-Hit-icon>svg {
    vertical-align: baseline;
}